*.a
*.dat
*genmod*
*.mod
*.o
*.so
*.out*
*.th_o
*.reg
.deps
.dirstamp
nightly.log

autom4te.cache
config.h
config.h.in~
config.log
config.status
Makefile
!docs/**/Makefile
stamp-h1

build
html
latex
xml
